<h1>Islands</h1>
<head>
<ul>
  <% @islands.each do |island| %>
    <li>
      <%= island.name %>
      <%= link_to "Show", island %>
    </li>
  <% end %>
</ul>
</head>

<body>
  <div class="content">
      <div class="cards">
        <div class="card" style="background-image: url()">
          Rio
        </div>

        <div class="card" style="background-image: url()">
          Berlin
        </div>

        <div class="card" style="background-image: url()">
          Shanghai
        </div>

        <div class="card" style="background-image: url()">
          Barcelona
        </div>

        <div class="card" style="background-image: url()">
          Paris
        </div>
  </div>
  </div>
</body>

