<div class="home-banner">
  <h1>Book your private island!</h1>
  <div class="search-bar-conteiner mx-auto" >
    <%= form_tag islands_path, method: :get, class: 'search' do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      id: "landing-input",
      placeholder: "Find your island" %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>
</div>


