<!-- <body>

  <div class="content">
      <div class="cards">
         cards.each do |card| %>
        <div class="card" style="background-image: url('island1.jpeg')"> %>
           @island.name %>
           end %>
        </div>
  </div>
  </div>
</body>

 -->
