<footer>

    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook"></i>
    <i class="fab fa-twitter"></i>

    <div class="footer-copyright">Made with<i class="fas fa-heart"></i>by Holy Island
    </div>

</footer>
