<body>

  <div class="content">
      <div class="cards">
        <div class="card" style="background-image: url(./assets/images/island1)">
          Kongur Shan
        </div>

        <div class="card" style="background-image: url()">
          Hindu Kush
        </div>

        <div class="card" style="background-image: url()">
          Dhaulagiri Himalaya
        </div>

        <div class="card" style="background-image: url()">
          Masherbrum Karakoram
        </div>

        <div class="card" style="background-image: url()">
          Panmah Karakoram
        </div>
  </div>
  </div>
</body>
