.island-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.description {
  font-family: $body-font;
}

.card-trip-info {
  width: 300px;
}

#header {
  font-family: $headers-font;
}
