<h1>Congrats, your island awaits you!</h1>

<p>Address: <%= @booking.island.address %></p>
<p>Description: <%= @booking.description %></p>
<p>From: <%= @booking.start_time %> To: <%= @booking.end_time %>  </p>
