<div class="home-banner">
  <h1>Book your private island!</h1>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 10%>
    </div>
  </div>
</div>
