<div class="home-banner">
  <h1>Book your private island!</h1>
</div>

<div class="container">
  <div class="cards">
    <% @islands.each do |island| %>

      <div class='home-card' style= " background-image: url(<%= image_path 'island1.jpeg' %>)">
        <%= island.name %>
        <%= island.address %>
        <%= link_to "Show", island %>
      </div>
    <% end %>
  </div>
</div>

<%# = island.photo %>
