.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // grid-template-columns: 12px 12px 12px;
  // grid-template-rows: 12px 12px 12px;
  grid-gap: 9px;
}

.home-card {

  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}


