.navbar-lewagon {
  justify-content: space-between;
  background: white;
  background-color: transparent;
  transition: 0.5s background-color ease;
  // box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon-white {
  background-color: white;
}

.fas {
  font-size: $size-header-3;
  color: $primary-colour;
}

.far {
  font-size: $size-header-3;
  color: black;
}

span {
  font-family: $headers-font;
  font-size: $size-header-3;
  font-weight: 100;
}
